/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.page, .welcome_block_content, .welcome_block_content p, .features_content, .contacts_content, .social, .footer_content {
	margin: 0 auto;
}

nav a, .welcome_block_content h1, .btn, .feature_container h2, .transbox h2, .contacts_container h2 {
		text-transform: uppercase;
}

.page {
  width: 100%;
  font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.header {
	background-color: black;
	background-image: url("img/header_img.jpg");
  background-repeat: no-repeat;
	background-size: cover;
}

header {
	max-width: 1170px;
  padding-top: 8px;
	margin: 0 auto;
}

.header_content {
	padding-bottom: 65px;
	border-bottom: 1px solid #4A4E67;
}

.logo {
	display: inline-block;
	float: left;
}

nav {
	display: inline-block;
	float: right;
}

nav a {
	display: inline-block;
	margin: 6px 28px 0;
	font-weight: bold;
	font-size: 13px;
	color: #bfbfbf;
}

nav a:hover {
	color: #e84545;
}

nav a:last-child {
	margin: 6px 0 0 28px;
}

.welcome_block {
  position: relative;;
	padding: 30px 0 150px 0;
  text-align: center;
}

.welcome_block_content {
  max-width: 920px;
}

.welcome_block_content h1 {
  padding: 143px 0 25px 0;
  font: bold 65px 'Open Sans', sans-serif;
	line-height: 71px;
	color: white;
}

.welcome_block_content p {
  margin-bottom: 90px;
  font-size: 22px;
	line-height: 33px;
  color: white;
}

.btn {
  padding: 15px 48px;
  width: 200px;
  height: 45px;
	font-size: 13px;
	font-weight: 600;
  color: white;
  background-color: #e84545;
	transition: color 0.5s, background-color 0.5s;
}

.btn:hover {
	color: #e84545;
	background-color: white;
}

.features_content {
	padding: 87px 0;
	max-width: 1180px;
	text-align: center;
}

.features_content a {
	color: currentColor;
}

.feature_container {
	display: inline-block;
	margin: 33px 45px;
	width: 300px;
	text-align: center;
}

.feature_container img {
	margin-bottom: 32px;
}

.feature_container h2 {
	font-weight: bold;
	margin-bottom: 24px;
}

.feature_container p {
	line-height: 21px;
}

.works {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.work_container {
	position: relative;
	display: inline-block;
	width: 473px;
	height: 350px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	background-color: #2b2e4a;
}

.work_container img {
	width: 100%;
	height: 100%;
}

.transbox {
	position: absolute;
	display: none;
	bottom: 1;
	width: 472px;
	height: 348px;
	background-color: rgba(232, 69, 69, 0.9);;
}

.transbox h2 {
	margin-top: 150px;
  margin-bottom: 10px;
	font-weight: bold;
	color: white;
}

.work_image:hover ~ .transbox, .transbox:hover {
	display: block;
}

.transbox p {
	color: #f9e6e6;
}

.fck_click:hover {
	display: block;
}

.contacts {
	background-color: #3a3e64;
}

.contacts_content {
	max-width: 1180px;
	text-align: center;
	padding-bottom: 65px;
}

.contacts_container {
	display: inline-block;
	vertical-align: top;
	width: 339px;
	margin: 61px 25px 0 25px;
	text-align: center;
}

.contacts_container h2 {
	margin-bottom: 17px;
	font-weight: bold;
	color: white;
}

.contacts_container p {
	color: #9d9fb2;
	line-height: 22.5px;
}

.social {
	padding-top: 6px;
	width: 150px;
	height: 35px;
	text-align: center;
}


.social_box {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	transition: border 0.5s;
}

.social_box:hover {
	border: 2px solid #e84545;
}

.social a:nth-child(2) .social_box {
	margin: 0 5px;
}

.social_box img {
	margin-top: 5px;
}

.footer {
	background-color: #313454;
}

.footer_content {
	padding: 18px;
	text-align: center;
}

.footer_content p {
	line-height: 22.5px;
	color: #808080;
}

span {
	color: white;
}

.heart {
	color: red;
}
